* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.canva {
    background-color: white;
    border: 1px solid black;
}